{{ define "main" }}
<article>
  <div class="container">
    <div class="row">
      <div class=" col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
        <div style="text-align:center">
          <h1 class="page-title">Digital Twins Ecosystems and Applications</h1>
          <em>A Workshop of the IEEE International Conference on Pervasive Computing and Communications </em>
        </div>
       
        <div class="page-content">
          {{ .Content }}
        </div>
        
      </div>
</article>

{{ end }}